### Import Things

In [1]:
import os
import time
import string
import requests
import pandas as pd

In [2]:
try:
    os.mkdir('./CSVs')
except:
    pass

### Function to get 10000 posts and put it in a dataframe

In [3]:
def scrape_posts(subreddit):
    url = 'https://api.pushshift.io/reddit/search/submission'
    
    to_be_df = []
    counter = 0
    if counter == 0:
        created_utc = ''
    else:
        created_utc = created_utc
        
    while counter < 105:
        params = {
        'subreddit': subreddit,
        'size': 100,
        'before': created_utc}
    
        res = requests.get(url, params)
        data = res.json()
        posts = data['data']
        created_utc = posts[99]['created_utc']
        
        tempdf = pd.DataFrame(posts)
        tempdf = tempdf[['subreddit', 'selftext', 'title']]
        
        to_be_df.append(tempdf)
        counter += 1
        print(f'scraped {counter} times')
        time.sleep(1)

    df = pd.concat(to_be_df, ignore_index=True)
    return df

In [4]:
world_news = scrape_posts('worldnews')

scraped 1 times
scraped 2 times
scraped 3 times
scraped 4 times
scraped 5 times
scraped 6 times
scraped 7 times
scraped 8 times
scraped 9 times
scraped 10 times
scraped 11 times
scraped 12 times
scraped 13 times
scraped 14 times
scraped 15 times
scraped 16 times
scraped 17 times
scraped 18 times
scraped 19 times
scraped 20 times
scraped 21 times
scraped 22 times
scraped 23 times
scraped 24 times
scraped 25 times
scraped 26 times
scraped 27 times
scraped 28 times
scraped 29 times
scraped 30 times
scraped 31 times
scraped 32 times
scraped 33 times
scraped 34 times
scraped 35 times
scraped 36 times
scraped 37 times
scraped 38 times
scraped 39 times
scraped 40 times
scraped 41 times
scraped 42 times
scraped 43 times
scraped 44 times
scraped 45 times
scraped 46 times
scraped 47 times
scraped 48 times
scraped 49 times
scraped 50 times
scraped 51 times
scraped 52 times
scraped 53 times
scraped 54 times
scraped 55 times
scraped 56 times
scraped 57 times
scraped 58 times
scraped 59 times
scraped 60 times
scraped 61 times
scraped 62 times
scraped 63 times
scraped 64 times
scraped 65 times
scraped 66 times
scraped 67 times
scraped 68 times
scraped 69 times
scraped 70 times
scraped 71 times
scraped 72 times
scraped 73 times
scraped 74 times
scraped 75 times
scraped 76 times
scraped 77 times
scraped 78 times
scraped 79 times
scraped 80 times
scraped 81 times
scraped 82 times
scraped 83 times
scraped 84 times
scraped 85 times
scraped 86 times
scraped 87 times
scraped 88 times
scraped 89 times
scraped 90 times
scraped 91 times
scraped 92 times
scraped 93 times
scraped 94 times
scraped 95 times
scraped 96 times
scraped 97 times
scraped 98 times
scraped 99 times
scraped 100 times
scraped 101 times
scraped 102 times
scraped 103 times
scraped 104 times
scraped 105 times

In [5]:
world_news.shape

(10500, 3)

In [6]:
world_news.head()

   subreddit selftext                                              title
0  worldnews           Staggering Photos Capture a Frozen Apartment C...
1  worldnews           Dow Jones closes down 3,000 points, or almost ...
2  worldnews           Stocks making the biggest moves in the premark...
3  worldnews           مستشار أردوغان: تركيا أول دولة اعترفت بحقوق ال...
4  worldnews           Sotheby’s auction house is getting into the NF...

In [7]:
history = scrape_posts('history')

scraped 1 times
scraped 2 times
scraped 3 times
scraped 4 times
scraped 5 times
scraped 6 times
scraped 7 times
scraped 8 times
scraped 9 times
scraped 10 times
scraped 11 times
scraped 12 times
scraped 13 times
scraped 14 times
scraped 15 times
scraped 16 times
scraped 17 times
scraped 18 times
scraped 19 times
scraped 20 times
scraped 21 times
scraped 22 times
scraped 23 times
scraped 24 times
scraped 25 times
scraped 26 times
scraped 27 times
scraped 28 times
scraped 29 times
scraped 30 times
scraped 31 times
scraped 32 times
scraped 33 times
scraped 34 times
scraped 35 times
scraped 36 times
scraped 37 times
scraped 38 times
scraped 39 times
scraped 40 times
scraped 41 times
scraped 42 times
scraped 43 times
scraped 44 times
scraped 45 times
scraped 46 times
scraped 47 times
scraped 48 times
scraped 49 times
scraped 50 times
scraped 51 times
scraped 52 times
scraped 53 times
scraped 54 times
scraped 55 times
scraped 56 times
scraped 57 times
scraped 58 times
scraped 59 times
scraped 60 times
scraped 61 times
scraped 62 times
scraped 63 times
scraped 64 times
scraped 65 times
scraped 66 times
scraped 67 times
scraped 68 times
scraped 69 times
scraped 70 times
scraped 71 times
scraped 72 times
scraped 73 times
scraped 74 times
scraped 75 times
scraped 76 times
scraped 77 times
scraped 78 times
scraped 79 times
scraped 80 times
scraped 81 times
scraped 82 times
scraped 83 times
scraped 84 times
scraped 85 times
scraped 86 times
scraped 87 times
scraped 88 times
scraped 89 times
scraped 90 times
scraped 91 times
scraped 92 times
scraped 93 times
scraped 94 times
scraped 95 times
scraped 96 times
scraped 97 times
scraped 98 times
scraped 99 times
scraped 100 times
scraped 101 times
scraped 102 times
scraped 103 times
scraped 104 times
scraped 105 times

In [8]:
history.shape

(10500, 3)

In [9]:
history

      subreddit   selftext                                              title
0       history             Buy Facebook Reviews - USA Facebook Page Posit...
1       history  [removed]  Why is it that in the religious texts of the A...
2       history  [removed]  What happened to all the corpses of the tens o...
3       history  [removed]  Why are there so few Lipka Tatars in today's P...
4       history             Buy Facebook Reviews - USA Facebook Page Posit...
...         ...        ...                                                ...
10495   history             Just found my new favorite model. Check out li...
10496   history  [removed]  I am interested in learning world history. Cou...
10497   history  [removed]  Are East Asian people descendants of Ancient E...
10498   history             40,000-year-old bone reveals East Asia's ancie...
10499   history  [removed]  What would the Soviet Union’s push of the Germ...

[10500 rows x 3 columns]

### Make everything lowercase and remove punctuation marks

In [10]:
world_news['title'] = world_news['title'].map(lambda x: x.lower())
world_news['title'] = world_news['title'].map(lambda x: ''.join([y for y in list(x.lower()) if y in string.ascii_lowercase + ' -' + string.digits]))

In [11]:
history['title'] = history['title'].map(lambda x: x.lower())
history['title'] = history['title'].map(lambda x: ''.join([y for y in list(x.lower()) if y in string.ascii_lowercase + ' -' +string.digits]))

### Get rid of titles that have websites

In [12]:
history = history[history['title'].str.contains('http') == False]

In [13]:
world_news = world_news[world_news['title'].str.contains('http') == False]

### Check for null values, and drop them

In [14]:
world_news['title'].isnull().sum()

0

In [15]:
world_news = world_news[world_news['title'] != '']

In [16]:
world_news = world_news[world_news['title'].notnull()]

In [17]:
history['title'].isnull().sum()

0

In [18]:
history = history[history['title'].notnull()]
history = history[history['title'] != '']

### Save files

In [19]:
history.to_csv('./CSVs/history.csv', index=False)

In [20]:
world_news.to_csv('./CSVs/world_news.csv', index=False)